* {
    margin: 0;
    padding: 0;
}

body {
}

#calendarchart {
    position: absolute;
    width:700px;
    height:400px;
    left: 65%;

}

#heartratechart {
  position: absolute;
  width:700px;
  height:400px;
  left: 65%;
  top: 35%;
}

#BMIchart {
  position: absolute;
  width:700px;
  height:400px;
  left: 65%;
  top: 70%;
}

#bloodchart {
  position: absolute;
  left: 30%;
  top: 10%;
  width:300px;
  height:150px;
}

#presurechart {
  left: 40%;
  top: 5%;
  position: absolute;
  width:700px;
  height:400px;
}

#sleeptimechart {
  position: absolute;
  left: 40%;
  top: 30%;
  width:700px;
  height:400px;
}

#sleeptendchart {
  position: absolute;
  left: 25%;
  top: 40%;
  width:200px;
  height:200px;
}